.maindiv-container {
  display: flex;
  justify-content: space-around;
}
.cartItem {
  width: 600px;
  display: flex;
  border: 1px solid #4b5563;
  border-radius: 0.5rem;
  margin: 1rem;
  padding: 1rem;
  flex-wrap: wrap;
}
.cartItem > .left > .images {
  width: 100%;
  height: 150px;
  object-fit: contain;
}
.item_name {
  font-weight: 550;
  color: rgb(37, 37, 37);
}

.left {
  margin-right: 5px;
  width: 100px;
}
.right {
  text-align: left;
  width: 80%;
}
.btn-size {
  display: flex;
  flex-direction: row;
  width: 25px;
  margin: 1rem 0;
  border-radius: 5px;
  padding: 0.05rem 0.25rem;
  justify-content: center;
  flex-wrap: wrap;
  cursor: pointer;
  background: #8481a8;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.qty {
  display: flex;
  flex-direction: row;
  width: 25px;
  margin: 1rem 0rem;
  padding: 0.05rem 0.25rem;
  justify-content: center;
}

.remove_btn {
  display: inline-block;
  text-transform: uppercase;
  box-shadow: none;
  outline: 0;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  margin-right: 25px;
  margin-top: 10px;
}
.remove_btn:hover {
  color: cadetblue;
}

/* Price details */
.checkout-container {
  margin-top: 1rem;
  width: 500px;
  border: 1px solid black;
  padding: 1rem;
}
.outer {
  background: #fff;
  border-radius: 2px;
  min-height: 47px;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 20%);
}
.price-title {
  display: block;
  text-transform: uppercase;
  padding: 13px 24px;
  font-weight: 500;
  color: #878787;
  min-height: 47px;
  border-radius: 2px 2px 0 0;
}

.price-box {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  align-items: flex-start;
}
.price-box .size {
  max-width: 68%;
}
.price-box .size .count-value {
  display: flex;
  align-items: center;
}
.border {
  border-top: 1px dashed #e0e0e0;
  font-weight: 500;
  font-size: 18px;
}
.no-items > .link {
  text-decoration: none;
}

@media only screen and (max-width: 960px) {
  .maindiv-container {
    flex-direction: column;
  }
  .checkout-container {
    margin: 1rem;
    width: 90%;
    border: 1px solid black;
    padding: 1rem;
  }
}

@media only screen and (max-width: 650px) {
  .maindiv-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .cartProducts {
    width: 100%;
  }
  .cartItem {
    width: 90%;
    display: flex;
    flex-direction: row;
    border: 1px solid #4b5563;
    border-radius: 0.5rem;
    margin: 1rem auto;
    padding: 1rem;
    flex-wrap: wrap;
  }
  .cartItem > .left > .images {
    width: 80%;
    object-fit: contain;
  }
  .right {
    text-align: left;
    width: fit-content;
  }
}
