* {
  --button-background: #8481a8;
  --shadow-color: rgb(0 0 0 / 20%);
}
.maindiv-container {
  display: flex;
  justify-content: space-around;
}
.cartItem {
  width: 600px;
  display: flex;
  border: 1px solid #4b5563;
  border-radius: 0.5rem;
  margin: 1rem;
  padding: 1rem;
  flex-wrap: wrap;
}
.cartItem-images {
  width: 100%;
  height: 150px;
  object-fit: contain;
}
.item_name {
  margin-top: 0rem;
  margin-bottom: 0.25rem;
}

.left-container {
  margin-right: 0.5rem;
  width: 6rem;
}
.right-container {
  text-align: left;
  width: 80%;
}
.btn-size {
  display: flex;
  flex-direction: row;
  width: 1.5rem;
  margin: 1rem 0;
  border-radius: 5px;
  padding: 0.05rem 0.25rem;
  justify-content: center;
  flex-wrap: wrap;
  cursor: pointer;
  background: var(--button-background);
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.qty {
  display: flex;
  flex-direction: row;
  width: 25px;
  margin: 1rem 0rem;
  padding: 0.05rem 0.25rem;
  justify-content: center;
}

.remove_btn {
  display: inline-block;
  text-transform: uppercase;
  box-shadow: none;
  outline: 0;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  margin-right: 25px;
  margin-top: 10px;
}
.remove_btn:hover {
  color: cadetblue;
}

/* Price details */
.checkout-container {
  margin-top: 1rem;
  width: 500px;
  border: 1px solid black;
  padding: 2rem;
  height: max-content;
}
.outer {
  width: 100%;
  background: #fff;
  border-radius: 2px;
  min-height: 2rem;
  box-shadow: 0 1px 1px 0 var(--shadow-color);
}
.price-title {
  display: block;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  font-weight: 500;
  color: #878787;
  min-height: 2rem;
  border-radius: 2px 2px 0 0;
}

.price-box {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  align-items: flex-start;
}
.price-box .size {
  max-width: 68%;
}
.price-box .size .count-value {
  display: flex;
  align-items: center;
}
.border {
  border-top: 1px dashed #e0e0e0;
  font-weight: 500;
  font-size: 1.25rem;
}

.link {
  text-decoration: none;
}
h3 {
  margin: 2rem;
}

@media only screen and (max-width: 960px) {
  .maindiv-container {
    flex-direction: column;
  }
  .checkout-container {
    margin: 1rem;
    width: 90%;
  }
}

@media only screen and (max-width: 650px) {
  .maindiv-container {
    flex-direction: column;
  }
  .cartProducts {
    width: 100%;
  }
  .cartItem {
    width: 90%;
    flex-direction: row;
    margin: 1rem auto;
  }
  .cartItem-images {
    width: 80%;
  }
  .right-container {
    width: fit-content;
  }
}
