.navbars {
  display: flex;
  height: fit-content;
  justify-content: space-between;
  width: 100%;
  background-color: cadetblue;
}
.navbars > ul {
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding: 1rem 2rem;
}
.navbars > ul > div > img {
  width: 40px;
  height: 40px;
  margin-left: 15px;
  display: flex;
  justify-content: right;
  cursor: pointer;
  position: relative;
}

.navbars > ul > div > .val {
  position: absolute;
  bottom: 5px;
  width: 15px;
  height: 20px;
  padding: 0.15rem;
  border-radius: 50%;
  background-color: maroon;
  color: white;
}
.side-bar {
  text-align: left;
}
.side-bar > ul {
  display: flex;
  justify-content: flex-start;
}
.side-bar > ul > li {
  text-decoration: none;
  margin: 10px 0;
  list-style: none;
  cursor: pointer;
  width: 100px;
  padding: 0.25rem;
  border-radius: 10px;
  line-height: 29px;
  text-align: center;
  color: #f8f6f8;
  border: 1px solid var(--secondary);
}

.side-bar > ul > li:hover {
  transition: all 0.6s ease-out;
  background-color: cadetblue;
  color: #0d0d0e;
}
